body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #ECF5FC;
}

ul { list-style: none;}
a { color:blue; text-decoration: none;}

/* Inicio Header */
header {
    background-color: #ECF5FC;   
}

.login {
    display: flex;
    align-items: center;
    gap: 60px;
}
.navbar {
    border-bottom: solid 1px #ECF5FC;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}   
.logoglobo {
    float: left;
    display: block;
    margin-right: 10px;
    width: 3em;
    height: 3em;
}

.logocontainer{
    max-width: none;
    float: left;
}
.navlink {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 0 34px;

}
.logowordmark{
    display: block;
    margin: auto;
}

.logotag{
    display: block;
    margin: 5px auto 0;
}

.header .search-container{
    float: inherit;
}
.navbar .search-container {
  float: inherit;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: inherit;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

.navbar .search-container {
    float: inherit;
    
  }
.navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: inline;
    text-align: left;
    margin: 0;
}
.navbar input[type=text] {
    border: 1px solid #ccc;  
}






/* Fim Header */


.bar {
    background-color: #343434;
    height: 45px;
    padding: 0;
    margin-left:20px;;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.title-main {
    padding: 0;
    margin: -20px;
    margin-left: 336px;
    
}

.link-title {
    margin-left: 336px;
    
}

.content {
    background-color: #ECF5FC;
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}


.img-card{
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    width: 270px;
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;
    
}
figure{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.image-ex{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.img-caption{   
    font-size: 85%;
    text-align: justify;
}

/*imagem-1*/
.img-card-1{
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    width: 170px;
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;
}
figure{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

/*Tela de Cadastro*/
.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECF5FC;
    }
form {
    width: 100%;
    padding: 20px;
    }
fieldset {
    border: none;
    border-top: 1px solid #cdcdcd;
    }
label {
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
    }