body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #BCC2E0;
}

ul { list-style: none;}
a { color:blue; text-decoration: none;}

/* Inicio Header */
header {
    background-color: #676A7A;   
}
header a {
    color: #fff;
    padding-left: 20px;
}

.login {
    display: flex;
    align-items: center;
    gap: 60px;
}
.navbar {
    border-bottom: solid 1px #ECF5FC;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}   
.logoglobo {
    float: left;
    display: block;
    margin-right: 10px;
    width: 3em;
    height: 3em;
}

.logocontainer{
    max-width: none;
    float: left;
}
.navlink {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 0 34px;

}
.logowordmark{
    display: block;
    margin: auto;
}

.logotag{
    display: block;
    margin: 5px auto 0;
}

.header .search-container{
    float: inherit;
}
.navbar .search-container {
    float: inherit;
}

.navbar input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

.navbar input[type="text"] {
    position: relative;
    border-radius: 25px 0 0 25px;
    width: 450px;
    height: 30px;
    padding: 0 25px;
    outline: none;
    border: none;
}  

.navbar input[type="submit"] {
    background-color: #7e7e7e;
    position: relative;
    left: -10px;
    border-radius: 0 25px 25px 0;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar .search-container {
    float: inherit;
}
.navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: inline;
    text-align: left;
    margin: 0;
}
/* Fim Header */

/*Inicio Barra*/ 
.bar {
    margin-top: -20px;
    justify-content: center;
}

.link-title {
    background-color: #9CA1BA;
    justify-content: center;
    font-size: 17px;
    text-align: center;
}

.bar ul li {
    display: inline;
    justify-content: center; 
}

.bar ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 5px 10px 5px;
    text-decoration: none;    
}

.title-main {
    padding: 0;
    margin: -20px;
    margin-left: 336px;
}

/*Fim Barra*/ 
.content {
    background-color: #BCC2E0;
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 20px;
}

.footer {
    background-color: #9CA1BA ;
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}

.footer ul li {
    display: inline;
    justify-content: center;
    padding: 20px;
}

.desenvolvedor {
    justify-content: center;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    display: block;
    border-right: solid 1px #cdcdcd;
}

.sidebar h2 {
    text-align: center;
}

.img-card{
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    width: 270px;
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;  
}

figure{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.image-ex{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.img-caption{   
    font-size: 85%;
    text-align: justify;
}

/*imagem-1*/
.img-card-1{
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    width: 170px;
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;
}

figure{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.redirect {
    margin-top: 100px;
}

/*Inicio anchors*/
.anchors h2 {
    text-align: center;
}
.anchors ul li {
    text-align: left;
    list-style-type: circle;
}
.anchors a {
    font-size: 14px;
}